@model IEnumerable<EresData.Realization>

@{
    ViewBag.Title = "ShowRealizations";
}


<table id="main">
    <tr><td>
<center><h2>Realizacje przedmiotów</h2></center>


<table>
    <tr>
        <th>Przedmiot</th>
        <th>Semestr</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Subject</td>
        <td>@item.Semester</td>
        <td>
            @Html.ActionLink("Oceny czastkowe", "../PartialGrade/Index", new { id = item.Id })
        </td>
    </tr>
}

</table>


        </td></tr>
</table>

